$navTextColor: #f5f5f5;
$navBackground: #303030;
$white: #fff;
$dropdowncolor: #5e5e5e;
$lastNavBackground: #cfb995;
$black: #000;
$dropdownborder: #b2b2b2;
$white3: #ecebe9;
$MontserratThin: "Montserrat-thin";
$MontserratSemibold: "Montserrat-SemiBold";
$MontserratBold: "Montserrat-bold";
$kiwigreen: #8fe360;
$weirdgreen: #57e690;
$lastdropdown: #d0ba93;
$pastel-orange: #ff915b;
$hover-red: #ff5b5b;
$Montserrat: "Montserrat";
